<div
    class="flex flex-col w-[364px] h-[500px] bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" role="status">
    <div class="rounded-t-lg object-cover h-32 w-full animate-pulse bg-gray-500"></div>
    <div class="flex flex-col p-5 h-full w-full">
        <div class="h-2/3">
            <div class="mb-2 animate-pulse bg-gray-500 h-5 w-full rounded-lg"></div>
            <div class="mb-3 animate-pulse bg-gray-500 h-full w-full rounded-lg"></div>
        </div>
        <div class="mt-auto flex flex-row lg:flex-col gap-4 w-full">
            <div
                class="w-full bg-gray-500 h-4 rounded-lg animate-pulse">
            </div>
            <button
                class="w-full bg-gray-500 h-4 rounded-lg animate-pulse">
            </button>
        </div>
    </div>
</div>