<div class="marquee-content-scroll-right"> 
    <div class="marquee-item">
      <img src="poster1.jpg" alt="Poster 1" class="poster" />
    </div>
    <div class="marquee-item">
      <img src="poster2.jpg" alt="Poster 1" class="poster" />
    </div>
    <div class="marquee-item">
      <img src="poster3.jpg" alt="Poster 1" class="poster" />
    </div>
    <div class="marquee-item">
      <img src="poster1.jpg" alt="Poster 1" class="poster" />
    </div>
    <div class="marquee-item">
      <img src="poster2.jpg" alt="Poster 1" class="poster" />
    </div>
    <div class="marquee-item">
      <img src="poster3.jpg" alt="Poster 1" class="poster" />
    </div>
    <div class="marquee-item">
      <img src="poster1.jpg" alt="Poster 1" class="poster" />
    </div>
    <div class="marquee-item">
      <img src="poster2.jpg" alt="Poster 1" class="poster" />
    </div>
    <div class="marquee-item">
      <img src="poster3.jpg" alt="Poster 1" class="poster" />
    </div>
    <div class="marquee-item">
      <img src="poster1.jpg" alt="Poster 1" class="poster" />
    </div>
    <div class="marquee-item">
      <img src="poster2.jpg" alt="Poster 1" class="poster" />
    </div>
    <div class="marquee-item">
      <img src="poster3.jpg" alt="Poster 1" class="poster" />
    </div>
    <div class="marquee-item">
      <img src="poster1.jpg" alt="Poster 1" class="poster" />
    </div>
  </div>
  <div class="marquee-content-scroll-left"> 
      <div class="marquee-item">
        <img src="poster1.jpg" alt="Poster 1" class="poster" />
      </div>
      <div class="marquee-item">
        <img src="poster2.jpg" alt="Poster 1" class="poster" />
      </div>
      <div class="marquee-item">
        <img src="poster3.jpg" alt="Poster 1" class="poster" />
      </div>
      <div class="marquee-item">
        <img src="poster1.jpg" alt="Poster 1" class="poster" />
      </div>
      <div class="marquee-item">
        <img src="poster2.jpg" alt="Poster 1" class="poster" />
      </div>
      <div class="marquee-item">
        <img src="poster3.jpg" alt="Poster 1" class="poster" />
      </div>
      <div class="marquee-item">
        <img src="poster1.jpg" alt="Poster 1" class="poster" />
      </div>
      <div class="marquee-item">
        <img src="poster2.jpg" alt="Poster 1" class="poster" />
      </div>
      <div class="marquee-item">
        <img src="poster3.jpg" alt="Poster 1" class="poster" />
      </div>
      <div class="marquee-item">
        <img src="poster1.jpg" alt="Poster 1" class="poster" />
      </div>
      <div class="marquee-item">
        <img src="poster2.jpg" alt="Poster 1" class="poster" />
      </div>
      <div class="marquee-item">
        <img src="poster3.jpg" alt="Poster 1" class="poster" />
      </div>
      <div class="marquee-item">
        <img src="poster1.jpg" alt="Poster 1" class="poster" />
      </div>
    </div>