<section class="p-4 min-h-screen w-full flex flex-col gap-4">
    <div class="flex flex-col justify-center items-center md:justify-start md:items-center">
        <h1 class="font-bold text-3xl dark:text-white">Welcome aboard admin</h1>
        <div class="mt-4 bg-slate-300 dark:bg-slate-700 rounded-lg p-2 flex flex-row items-center gap-4 w-fit">
            <h2 class="text-xl md:text-2xl font-semibold dark:text-white">Quick Actions:</h2>
            <button [disabled]="!categoriesAvailable" (click)="openNewMovieModal()" class="text-white text-lg md:text-xl p-2 rounded-lg bg-emerald-500 hover:bg-emerald-400 dark:bg-emerald-600 dark:hover:bg-emerald-700 shadow">Add a new movie +</button>
        </div>
    </div>
    <app-bubble-chart></app-bubble-chart>
    <div class="w-full h-2/5 dark:text-white">
        <app-rental-table tableHeader="All Rentals:"></app-rental-table>
    </div>
</section>
