<div class="bg-slate-400 dark:bg-slate-800 rounded-lg w-[102%] md:w-[105%] flex px-4">
    <span class="inline-flex items-center" matSnackBarLabel>
        @switch (data.type) {
            @case (SnackbarTypes.LOGIN_ERROR) {
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-black dark:text-white size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                </svg>
            }
            @case (SnackbarTypes.RENT) {
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-black dark:text-white size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>   
            }
            @case (SnackbarTypes.TOP_UP) {
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="text-black dark:text-white size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z" />
                </svg>                   
            }
        }
        <span class="text-black dark:text-white ml-2">{{data.message}}</span>
    </span>
    <span matSnackBarActions matSnackBarAction>
        <button class="text-red-500 dark:text-red-400" (click)="close()">{{data.action ?? 'Close'}}</button>
    </span>
</div>