/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#navbar-default {
    z-index: 1000 !important; /* Ensure this is higher than any z-index applied by matRipple */
  }
  
  #navbar-default .mat-ripple-element {
    z-index: auto !important; /* Ensure the ripple effect doesn't interfere */
  }