<section>
    <div class="w-fit bg-slate-700 rounded-t-lg p-4">
        <h2 class="text-xl md:text-2xl text-white font-bold">Movies per year:</h2>
    </div>
    <div class="bg-slate-700 rounded-b-lg rounded-tr-lg">
        @if (chartLoaded) {
        <div class="w-full h-[500px] resize both" echarts [options]="bubbleChartOptions"></div>
        } @else {
        <div role="status" class="w-full h-[500px] animate-pulse">
            <div class="h-full bg-gray-400 rounded-lg w-full mb-4"></div>
            <span class="sr-only">Loading chart...</span>
        </div>
        }
    </div>
</section>